# Supabase
VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co
VITE_SUPABASE_ANON_KEY=SUA_ANON_KEY

VITE_ENTER_ANALYTICS_ENABLED=false
VITE_ENTER_ANALYTICS_TOKEN=
VITE_ENTER_PROJECT_ID=
VITE_ENTER_ANALYTICS_ENDPOINT=https://api.enter.pro
VITE_ENTER_ANALYTICS_DEFINITIONS_ENDPOINT=
VITE_ENTER_ANALYTICS_DEBUG=false
